core/__pycache__/
visualization/__pycache__/
.vscode/settings.json
nogithub.py
testing_nogithub.py
training_runs/earth_baseline_fixed_20260325_184215/learning_curve.csv
training_runs/earth_baseline_fixed_20260325_184215/config.json
training_runs/earth_baseline_fixed_20260325_184215/eval_results.json
training_runs/earth_baseline_fixed_20260325_184215/learning_curve.png
training_runs/earth_baseline_fixed_20260325_184215/model_final.zip
